.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-items {
    list-style-type: none;
    display:flex;
}

.header-item {
    margin-right: 15px
}

.block {
    display: block;
}


