{% extends 'base.html' %}
{% block content %}

<h2>Add blood</h2>
<div>
    <form method="POST">
        <div style="display: flex; margin-bottom: 25px">
            <label>Donor name: </label>
            <input style="margin-left: 25px" type="text" name="donor_name" />
        </div>
        <div style="display: flex; margin-bottom: 25px">
            <label>Donor ID: </label>
            <input style="margin-left: 25px" type="text" name="donor_id" />
        </div>
        <div style="display: flex; margin-bottom: 25px">
            <input type="submit" />
            {% if success %}
            <div style="color: green">submitted</div>
            {% endif %}
        </div>
    </form>
</div>

{% endblock %}


