{% extends 'base.html' %}
{% block content %}

<h2>Add blood</h2>
<div>
    <form method="POST">
        <div style="display: flex; margin-bottom: 25px">
            <label style="width: 200px">Donor name: </label>
            <input style="margin-left: 25px" type="text" name="donor_name" />
        </div>
        <div style="display: flex; margin-bottom: 25px">
            <label style="width: 200px">Donor ID: </label>
            <input style="margin-left: 25px" type="text" name="donor_id" />
        </div>
        <div style="display: flex; margin-bottom: 25px">
            <label style="width: 200px">Source: </label>
            <select name="source">
                <option selected value="Bat-Mobile">Bat-Mobile</option>
                <option value="Red Cross">Red Cross</option>
            </select>
        </div>
        <div style="display: flex; margin-bottom: 25px">
            <input type="submit" />
            {% if success %}
            <div style="color: green; margin-left: 20px;">submitted, blood id: <a href="/blood/{{ id }}">{{ id }}</a></div>
            {% endif %}
        </div>
    </form>
</div>

{% endblock %}


