{% extends 'base.html' %}
{% block content %}

<h2>Add blood</h2>
<div class="form_container">
    <form method="POST">
        <div style="display: flex; margin-bottom: 25px">
            <label style="width: 250px">Donor name: </label>
            <input style="margin-left: 25px" type="text" name="donor_name" />
        </div>
        <div style="display: flex; margin-bottom: 25px">
            <label style="width: 250px">Donor ID: </label>
            <input style="margin-left: 25px" type="text" name="donor_id" />
        </div>
        <div class="rc" style="display: none; margin-bottom: 25px">
            <label style="width: 250px">Blood type: </label>
            <input style="margin-left: 25px" type="text" name="blood_type" />
        </div>
        <div class="rc" style="display: none; margin-bottom: 25px">
            <label style="width: 250px">Use by: </label>
            <input style="margin-left: 25px" type="text" name="use_by" />
        </div>
        <div style="display: flex; margin-bottom: 25px">
            <label style="width: 250px">Source: </label>
            <select name="source">
                <option selected value="Bat-Mobile">Bat-Mobile</option>
                <option value="Red Cross">Red Cross</option>
            </select>
        </div>
        <div style="display: flex; margin-bottom: 25px">
            <input type="submit" class="submit_buttom" value="Submit"/>
            {% if success %}
            <div style="color: green; margin-left: 20px;">submitted, blood id: <a href="/blood/{{ id }}">{{ id }}</a></div>
            {% endif %}
        </div>
    </form>
</div>


<script type="text/javascript">
$().ready(function(){
    $("#tag_1").css("background","white");
});
let use_by = document.getElementsByName('use_by')[0];
mutubleElemTimeTransfer(use_by, "value")
let sel = document.getElementsByName('source')[0];
sel.addEventListener("change", enevt => {
    let val = sel.selectedOptions[0].value;
    
    let div = document.getElementsByClassName('rc');
    for (let d of div) {
        if (val === "Red Cross") {
            d.style.display = "flex";
        }
        else {
            d.style.display = "none";
        }
    }
})
</script>


{% endblock %}


