<!DOCTYPE html>
<html lang="en-AU">
    <head>
        <title>Vampire Management System</title>
    </head>

    <body>
        <header style="display: flex; align-items: center; justify-content: space-between">
            <div>Vampire logo😂</div>
            <ul style="list-style-type: none; display:flex">
                <li style="margin-right: 15px">item1</li>
                <li>item2</li>
            </ul>
        </header>

        {% block content %}

        {% endblock %}
    </body>
</html>



