{% extends 'base.html' %}
{% block content %}

<h2>Blood {{ bid }}</h2>
<div class="form_container">
    <form method="POST">
        <div style="display: flex; margin-bottom: 25px">
            <label style="width: 200px">Use By Date:</label>
            <input style="margin-left: 25px" type="text" name="use_by" value="{{ info['use_by'] }}" />
        </div>
        <div style="display: flex; margin-bottom: 25px">
            <label style="width: 200px">Feedback:</label>
            <input style="margin-left: 25px" type="text" name="feedback" value="{{ info['feedback'] }}" />
        </div>
        <div style="display: flex; margin-bottom: 25px">
            <label style="width: 200px">Type:</label>
            <input style="margin-left: 25px" type="text" name="type" value="{{ info['type'] }}" />
        </div>
        <div style="display: flex; margin-bottom: 25px">
            <label style="width: 200px">State:</label>
            <select name="state">
                <option value='1'>In inventory</option>
                <option value='2'>Testing</option>
                <option value='3'>Used</option>
                <option value='4'>Disposed</option>
            </select>
        </div>
        <div style="display: flex; margin-bottom: 25px">
            <label style="width: 200px">Test State:</label>
            <select name="test_state">
                <option value='1'>Not tested</option>
                <option value='2'>Good</option>
                <option value='3'>Bad</option>
            </select>
        </div>
        <div style="display: flex; margin-bottom: 25px">
            <input type="submit" class="submit_buttom" value="Submit"/>
            {% if success %}
            <div style="color: green">submitted</div>
            {% endif %}
        </div>
    </form>
    <script type="text/javascript">
        function select_opt(name, curr_val) {
            let sel = document.getElementsByName(name)[0];
            let opts = sel.querySelectorAll('option');
            for (let opt of opts) {
                if (opt.value === curr_val) {
                    opt.selected = true;
                    break;
                }
            }
        }
        select_opt("state", "{{ info['state'] }}");
        select_opt("test_state", "{{ info['test_state'] }}");

        let use_by = document.getElementsByName("use_by")[0];
        mutubleElemTimeTransfer(use_by, "value");
        $().ready(function(){
            $("#tag_3").css("background","white");
        });
    </script>
</div>

{% endblock %}
