{% extends 'base.html' %}
{% block content %}

<h2>Request blood</h2>
<div class="form_container">
    <div style="margin-bottom: 25px;">
        <script type="text/javascript">
        let summary_filter = "BloodToSend";
        $().ready(function(){
            $("#tag_2").css("background","white");
        });
        </script>
        <div style="margin-bottom: 10px;">Blood available for requesting</div>
        <div style="padding-left:240px">
        {% include "blood_inventory_summary.html" %}
        </div>
    </div>

    <div >
        <form method="POST">
            <div style="display: flex; margin-bottom: 25px">
                <label style="width: 220px;">Type: </label>
                <select style="margin-left: 25px" name="blood_type">
                    {% for type in blood_types %}
                        {% if blood_types[type] > 0 %}
                        <option value="{{ type }}">{{type}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div style="display: flex; margin-bottom: 25px">
                <label style="width: 220px;">Amount: </label>
                <input style="margin-left: 25px" type="text" name="n_bags" />
            </div>
            <div style="display: flex; margin-bottom: 25px">
                <label style="width: 220px;">Organization name: </label>
                <input style="margin-left: 25px" type="text" name="org_name" />
            </div>
            <div style="display: flex; margin-bottom: 25px">
                <label style="width: 220px;">Organization address: </label>
                <input style="margin-left: 25px" type="text" name="org_address" />
            </div>
            <div style="display: flex; margin-bottom: 25px">
                <label style="width: 220px;">Organization phone: </label>
                <input style="margin-left: 25px" type="text" name="org_phone" />
            </div>
            <div style="display: flex; margin-bottom: 25px">
                <input type="submit" class="submit_buttom" value="Submit"/>
                {% if success %}
                <div style="color: green; margin-left: 30px">submitted</div>
                {% endif %}
            </div>
        </form>
    </div>
</div>
{% endblock %}


