{% extends 'base.html' %}
{% block content %}

<h2>Request blood</h2>
<div>
    <form method="POST">
        <div style="display: flex; margin-bottom: 25px">
            <label>Type: </label>
            <select name="blood_type">
                {% for type in blood_types %}
                    <option value="{{ type }}">{{type}}</option>
                {% endfor %}
            </select>
        </div>
        <div style="display: flex; margin-bottom: 25px">
            <label>Amount: </label>
            <input style="margin-left: 25px" type="text" name="donor_name" />
        </div>
        <div style="display: flex; margin-bottom: 25px">
            <input type="submit" />
            {% if success %}
            <div style="color: green">submitted</div>
            {% endif %}
        </div>
    </form>
</div>

{% endblock %}


